<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mis notas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-card *ngFor="let nota of _listaDeseos.notas;let i =index;" >
  <ion-item color="light" (click)="irDetalleNota(nota,i)">
    <h2>{{nota.titulo}}</h2>

  </ion-item >
    <ion-item (click)="irDetalleNota(nota,i)">
      <p style="white-space:initial">{{nota.contenido |slice:0:120}} ...</p>

    </ion-item>
    <ion-icon *ngIf="mostrarEditar" class="icono-papelera" ios="ios-trash" md="md-trash" (click)="borrarNota(i)"></ion-icon>
</ion-card>



<ion-fab right bottom>
    <button ion-fab color="primary" >
       <ion-icon ios="ios-add" md="md-add"></ion-icon>

    </button>

    <ion-fab-list side="top">
         <button ion-fab color="secondary" (click)="irAgregarNota()">
           <ion-icon ios="ios-add" md="md-add"></ion-icon>
         </button>
         <button ion-fab color="danger" (click)="cambiarEditar()" >
           <ion-icon ios="ios-create" md="md-create"></ion-icon>
         </button>

       </ion-fab-list>

  </ion-fab>


</ion-content>
