<ion-header>
  <ion-navbar color={{_listaDeseos.colores.colorNavbars}}>
    <ion-title>Mis notas</ion-title>

    <ion-buttons end>

      <button (click)="cambiarEditar()"  ion-button icon-only>
        <ion-icon ios="ios-create" md="md-create"></ion-icon>


      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class={{_listaDeseos.colores.colorFondo}} padding>

  <ion-grid *ngIf="(_listaDeseos.notas).length ==0">
      <ion-row>
        <ion-col class="text-center caja-vacia">

          <ion-icon class="icono-grande" ios="ios-sad" md="md-sad"></ion-icon>


          <p>No hay ninguna nota</p>
        </ion-col >
      </ion-row>
  </ion-grid>
<ion-card *ngFor="let nota of _listaDeseos.notas;let i =index;" >
  <ion-item color="light" (click)="irDetalleNota(nota,i)" class="elemento">
    <h2>{{nota.titulo}}</h2>

  </ion-item >
    <ion-item (click)="irDetalleNota(nota,i)">
      <p style="white-space:initial">{{nota.contenido |slice:0:120}} ...</p>

    </ion-item>
    <ion-icon *ngIf="mostrarEditar" class="icono-papelera" ios="ios-trash" md="md-trash" (click)="borrarNota(i)"></ion-icon>
</ion-card>



<ion-fab right bottom>
    <button ion-fab (click)="irAgregarNota()" color={{_listaDeseos.colores.colorNavbars}} >
       <ion-icon ios="ios-add" md="md-add"></ion-icon>

    </button>


</ion-fab>


</ion-content>
