<ion-header>
  <ion-navbar color={{_listaDeseos.colores.colorNavbars}}>



    <ion-buttons start>
      <button *ngIf="textoAgregado"
       ion-button
        (click)="guardarNota()">
        <ion-icon style="font-size:30px;" ios="ios-add" md="md-add"></ion-icon>
        </button>
   </ion-buttons>



    <ion-title>
      Agregar nota
    </ion-title>

    <ion-buttons end>


    </ion-buttons>
  </ion-navbar>


</ion-header>
<ion-content>
  <ion-item>
    <ion-label stacked>Titulo</ion-label>
    <ion-input [(ngModel)]="tituloNota" (keydown)="activarAgregar()" type="text"></ion-input>
  </ion-item>

  <textarea class="textAreaNota" [(ngModel)]="textoNota"(keydown)="activarAgregar()" name="textoNuevaNota" ></textarea>




</ion-content>
