

<ion-header>
  <ion-navbar color={{_listaDeseos.colores.colorNavbars}}>
    <ion-title>Opciones</ion-title>

    <ion-buttons end>
      <button (click)="guardar()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>



</ion-header>

<ion-content >

  <ion-list>
    <ion-item>
      <ion-label>Color barras menu</ion-label>
      <ion-select [(ngModel)]="colorNav">
        <ion-option value="primary">Azul</ion-option>
        <ion-option value="orange">Naranja</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Color fondo</ion-label>
      <ion-select [(ngModel)]="colorFondo">
        <ion-option value="#87CEFA">Azul claro</ion-option>
        <ion-option value="#FF7F50">Coral</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>


</ion-content>
